* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

nav {
  background-color: aqua;
}

nav ul {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
}

nav ul li {
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

h1 {
  text-align: center;
  padding-bottom: 20px;
}

.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-align: justify;
}

h2,
p {
  padding-bottom: 20px;
}

img {
  max-width: 300px;
  padding-bottom: 20px;
}

.example li {
  padding-bottom: 10px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

code {
  background-color: rgb(179, 179, 179);
  padding: 10px;
  border-radius: 2px;
  font-style: italic;
}

@media only screen and (max-width: 1150px) {
  nav {
    padding: 20px;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  nav ul li {
    padding: 0px;
    margin: 0;
  }
}
