.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.logo {
  background-color: antiquewhite;
  padding: 20px;
}

.nav-bar {
  background-color: aqua;
}

.nav-bar ul {
  list-style: none;
}

.nav-bar ul li {
  display: inline;
  margin-right: 30px;
  text-align: center;
}

.header {
  background-color: aquamarine;
  padding: 20px;
  height: 200px;
}

.main-content {
  display: flex;
  gap: 10px;
}

.sidebar {
  background-color: beige;
  padding: 20px;
  flex: 1;
  height: 200px;
}

.content {
  background-color: rgb(3, 122, 122);
  padding: 20px;
  flex: 1;
  height: 200px;
}

.footer {
  background-color: bisque;
  padding: 20px;
}
